<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - User Profile</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link
        rel="stylesheet"
        href="~/MovieRank.styles.css"
        asp-append-version="true"/>
</head>
<body>
<header>
    <nav
        class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a
                class="navbar-brand"
                asp-area=""
                asp-controller="User"
                id="profileUser"
                asp-action="Profile">
                Crud User
            </a>
            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target=".navbar-collapse"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div
                class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a
                            class="nav-link text-dark"
                            id="createUser"
                            asp-area=""
                            asp-controller="User"
                            asp-action="Create">
                            Create User
                        </a>
                    </li>
                    <li class="nav-item">
                        <a
                            class="nav-link text-dark"
                            id="editUser"
                            asp-area=""
                            asp-controller="User"
                            asp-action="Edit">
                            Edit User
                        </a>
                    </li>
                    <li class="nav-item">
                        <a
                            class="nav-link text-dark"
                            id="detailsUser"
                            asp-area=""
                            asp-controller="User"
                            asp-action="Details">
                            Details User
                        </a>
                    </li>
                    <li class="nav-item">
                        <a
                            class="nav-link text-dark"
                            id="deleteUser"
                            asp-area=""
                            asp-controller="User"
                            asp-action="Delete">
                            Delete User
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<!-- Contenedor para cargar vistas parciales -->
<div id="container">
    <!-- Content will be dynamically loaded here -->
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<!-- Script customizado para cargar vistas parciales en el contenedor-->
<script>
    $(document).ready(function () {
        // Carga la vista parcial "Profile" por defecto
        loadPartialView("/User/Profile");
        
        // Maneja el clic en el enlace "Profile"
        $("#profileUser").click(function (e) {
            e.preventDefault();
            loadPartialView($(this).attr("href"));
        });
        
        // Maneja el clic en el enlace "Create User"
        $("#createUser").click(function (e) {
            e.preventDefault();
            loadPartialView($(this).attr("href"));
        });

        // Maneja el clic en el enlace "Edit User"
        $("#editUser").click(function (e) {
            e.preventDefault();
            loadPartialView($(this).attr("href"));
        });

        // Maneja el clic en el enlace "Details User"
        $("#detailsUser").click(function (e) {
            e.preventDefault();
            loadPartialView($(this).attr("href"));
        });

        // Maneja el clic en el enlace "Delete User"
        $("#deleteUser").click(function (e) {
            e.preventDefault();
            loadPartialView($(this).attr("href"));
        });

        // Función para cargar una vista parcial en el contenedor
        function loadPartialView(url) {
            $.ajax({
                url: url,
                type: "GET",
                success: function (data) {
                    $("#container").html(data);
                }
            });
        }
    });
</script>
</body>
</html>